@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav a {
  display: block;
  color: #555;
  background-color: #f2f2f2;
  border: 1px solid #000;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
  background-color: #000;
}

.vectors-1, .vectors-2 {
  border: 3px solid #4ff;
}

.photos-1, .photos-2 {
  border: 3px solid #f4f;
}

.scanning-1, .scanning-2 {
  border: 3px solid #ff4;
}

.editing-1, .editing-2 {
  border: 3px solid #44f;
}

.sharing-1, .sharing-2 {
  border: 3px solid #4f4;
}

.community-1, .community-2 {
  border: 3px solid #f44;
}

.join-now {
  background-color: #444;
}

a.card {
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}

a.card:hover {
  background-color: #000;
  color: #fff;
}
