@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav a {
  display: block;
  color: #1e969f;
  background-color: #9ce4ea;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
  background-color: #000;
}

h1, h2, p {
  color: #1e969f;
}

h2 {
  font-weight: 500;
}

.features-index {
  background-color: #f2f2f2;
}

.vectors-1 {
  background-color: #fff;
}

.photos-1 {
  background-color: #fff;
}

.scanning-1 {
  background-color: #fff;
}

.editing-1 {
  background-color: #fff;
}

.sharing-1 {
  background-color: #fff;
}

.community-1 {
  background-color: #fff;
}

.photos-2 {
  background-color: #f2f2f2;
}

.editing-2 {
  background-color: #f2f2f2;
}

.community-2 {
  background-color: #f2f2f2;
}

.join-now {
  background-color: #fff;
}

.single-1 {
  background-color: #fff;
  border: 15px solid #d3f3f5;
}

.corporate-1 {
  background-color: #fff;
  border: 15px solid #71dce5;
}

a.card {
  border-radius: 30px;
  text-decoration: none;
  color: #000;
}

a.card:hover {
  background-color: #000;
  color: #fff;
}

.form {
  background-color: #f2f2f2;
  color: #1e969f;
}

.btn {
  background-color: #fdf86b;
  border: 1px solid #fdf86b;
  border-radius: 20px;
  color: #0f7474;
}

li {
  color: #1e969f;
}

th, td {
  border: 0;
}

footer {
  background-color: #9ce4ea;
  color: #1e969f;
}

footer a {
  color: #1e969f;
  text-decoration: none;
}

footer a:hover {
  color: #000;
}
